{% extends '::base.html.twig' %}
{% block title %}{{ parent() }}Index{% endblock %}

{% block body %}
    <ul>
        <li><a href="{{ path('app_calculator_index') }}">Inicio</a></li>
        <li><a href="{{ path('app_calculator_sum') }}">Suma</a></li>
        <li><a href="{{ path('app_calculator_resta') }}">Resta</a></li>
        <li><a href="{{ path('app_calculator_multiplicacion') }}">Multiplicacion</a></li>
        <li><a href="{{ path('app_calculator_division') }}">Division</a></li>

    </ul>
{% endblock %}
