{% extends '::base.html.twig' %}

    {% block tittle %}Productos{% endblock %}

    {% block body %}
        {% for producto in productos %}
            {{ producto.id }}<br>
            {{ producto.name }}<br>
            {{ producto.description }}<br>
            {{ producto.price }}€<br>
            {{ producto.createdAt | date}}<br>
            {{ producto.updatedAt | date("d/m/Y H:i:s")}}<br>
        {% endfor %}
        <a href="{{ path('app_producto_create') }}">Introducir nuevo producto</a>
{% endblock %}